.small-white-svg {
    height: 8px;
    width: 8px;
    fill: white;
  }

  .sidebar-brand {
    display: flex;
    align-items: center;
}
.sidebar-brand img {
    margin-right: 10px;
}
.sidebar-brand h6 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.text {
    color: #ffffff; /* High contrast color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for additional contrast */
}
.subtitle {
    font-size: 14px;
    margin-bottom: 20px;
}

.line-label {
    font-size: 12px;
    font-weight: bold;
    color: #000; /* Black text color */
    background-color: transparent; /* No background */
    border: none; /* No border */
    padding: 0;
}